service cloud.firestore {
  match /databases/{database}/documents {
		//Allow public read access to all cats
		match /cats/{catID} {
    	allow read;
    }
    
    function isSignedIn(){
    	return request.auth != null;
    }
  }
}